desc "Build the helpers project"
task :helpers do
  puts "Building the helpers project"
  sln = ENV['SLN'] || Dir['./*.sln'].first 
  system "msbuild /clp:ErrorsOnly;WarningsOnly /nologo #{sln}"
end

desc "Runs the application"
task :run => :helpers do
  sh "ir lib/main.rb"
end

task :default => :run 
