module <%= @class_name %>
    class DefaultController < ApplicationController
      
      view_object :greeting

      def default_action
        @greeting = "Hello from IronNails!"
      end

      def view_name
        :main_window
      end
    
    end
end
